/* Custom Stylesheet */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.pace-running {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: #26a69a;
  z-index: 2;
}

#header-btn {
  margin-left: 10px;
  border: 2px solid #26a69a;
}

#header-btn:hover {
  border: 2px solid #26a69a;
  color: #26a69a;
  background-color: transparent;
  font-weight: bold;
}

.hidden {
  opacity: 0;
}

#sidenav-overlay {
  margin-left: 300px;
}

.table-of-contents a.active {
    border-left: 2px solid #26a69a;
}

nav ul a:hover {
    background-color: white;
}

.table-of-contents a:hover {
    border-left: 1px solid #26a69a;
    color: #26a69a;
}

.bg-overlay-effect1 {
  background: linear-gradient(to left,#7b4397,#dc2430);
	opacity: .6;
}

.bg-overlay-effect2 {
  background: linear-gradient(to left,#dc2430,#7b4397);
	opacity: .6;
}

.grid figure figcaption > a {
    z-index: 996 !important;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.modal.bottom-sheet {
  max-height: 100%;
}

#modal .title {
  color: #039be5;
}

#modal p {
  word-spacing: 5px;
}

.fixed-action-btn {
  z-index: 996;
}

h3, .pacifico {
  font-family: Pacifico;
}

p {
  line-height: 2rem;
}

.large-text {
  font-size: x-large;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

#header-name {
  font-family: Shadows Into Light, serif;
  font-size: 4em;
  line-height: 1em;
  font-weight: bold;
  font-style: italic;
}

@media only screen and (min-width : 600px) {
  #index-banner {
    min-height: 600px;
  }
}

@media only screen and (max-width : 992px) {
  #a_propos {
    position: absolute;
    top: 2%;
  }
  #index-banner .section {
    top: 10%;
  }
  .minify-text-mobile {
    font-size: larger !important;
  }
  #header-name {
    font-size: -webkit-xxx-large;
  }
  h2 {
    font-size: xx-large;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.cap {
  text-transform: capitalize;
}

#about-transition .header {
  font-family: Shadows Into Light, serif;
  font-weight: bold;
  color:#4a148c !important;
}

#about-transition .divider {
  background-color: #ffd54f !important;
}

#about-transition .under {
  color: white !important;
  font-family: Shadows Into Light, serif;
  font-weight: bold;
}

#about-transition .minify-text-mobile {
  color: #9c27b0 !important;
  font-family: Shadows Into Light, serif;
  font-weight: bold;
}
